# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

indent_style = space
indent_size = 4
max_line_length = 100

# "lf" – Line Feed only (\n), common on Linux and macOS as well as inside git repos
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{ts,js,tsx,jsx}]
quote_type = single

[*.{json,yml,yaml}]
indent_size = 2
max_line_length = 120

[*.sh]
indent_size = 2

[*.{html,htm}]
indent_size = 2
max_line_length = 120
